---
layout: page
title: Home
---
<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% elsif site.paginate %}
		{% for post in paginator.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include item-full.html %}<br/><br/>
				{% endif %}
			{% endif %}
		{% endfor %}
		{% include pagination.html%}
	{% else %}
		{% for post in site.categories.blog limit:1 %}
			{% if post.hidden != true %}
				{% include item-full.html %}<br/><br/>
			{% endif %}
		{% endfor %}
	{% endif %}
</section>
