---
layout: page
title: projects
---
<section class="list {% if site.animation %}animated{% endif %}">
    {% for coll in site.collections %}
        {% if coll.label != 'posts' %}
        <div class="item {% if coll.star %}star{% endif %}">
            <a class="url" href="{{ site.url }}/{{ coll.label }}">
                <h3 class="title">{{ coll.title }}</h3>
            </a>
            <span class="description">&nbsp;&nbsp;&nbsp;&nbsp;{{ coll.description }}</span>
        </div>
        {% endif %}
    {% endfor %}
</section>
