{% if page.title == "Home" %}{% assign showDetail = true %}{% endif %}

<header class="header-home">
    <!--
    {% if showDetail == true %}
        {% if site.showAbout %}
            <a class="link {% if site.animation %}animated{% endif %}" href="{{ site.url }}">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.profile }}{% endif %}" />
            </a>
        {% else %}
            <span class="link {% if site.animation %}animated{% endif %}">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.profile }}{% endif %}" />
            </span>
        {% endif %}
    {% endif %}
        -->

    <h1 class="title"><a href="{{ site.url }}">{{ site.name }}</a></h1>
    {% if showDetail == true %}
        <h2 class="description {% if site.animation %}animated{% endif %}">{{ site.bio }}</h2>
        {% include social-links.html %}
    {% endif %}
</header>

{% include nav.html %}
