{% if page.title == "Home" %}{% assign showDetail = true %}{% endif %}

    <header class="header-home">
{% if showDetail == true %}
        {% if site.about %}
            <a class="link" href="{{ site.url }}/home">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}
{% endif %}
        <h1 class="title"><a href="{{ site.url }}">{{ site.name }}</a></h1>
        {% if showDetail == true %}
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
{% endif %}
    </header>


{% include nav.html %}
