<nav class="nav-home">
    <ul class="list">
        {% if site.showBlog %}
        <li class="item">
            <a class="link" href="{{ site.url }}/archive">Archive</a>
        </li>
        {% endif %}

        {% if site.showCollections %}
        <li class="item">
            <a class="link" href="{{ site.url }}/projects">Projects</a>
        </li>
        {% endif %}

        {% if site.showAbout %}
        <li class="item">
            <a class="link" href="{{ site.url }}/about">About</a>
        </li>
        {% endif %}
    </ul>
</nav>
