$fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

/* alpha:   text             */
/* beta:    post links       */
/* gama:    summary, date    */
/* delta:   links, hover     */
/* epsilon: tags, separators */
/* zero:    background       */

$alpha: #f8f8f2
$beta: #8be9fd
$gama: #ff79c6
$delta: #8be9fd
$epsilon: #44475a
$zero: #282a36


$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"